@charset "utf-8";

html,body
ul, ol, li,
h1, h2, h3, h4, h5, h6, div {
  margin: 0;
  padding: 0;
}

body{
    font-family:'Javanese Text','Mongolian Baiti','Palatino Linotype';
    min-height: 100vh;
}

li{
    list-style: none;
}

/*------------------------------*/

.wrapper{
    height:80vh;
    background-color: white;
    color:#626063;
}

.container{
    margin-top: 2rem;
}

.typein{
    background-color:#f8f4e6;
    border-radius: 15px;
    padding: 2rem;
    max-width: 600px;
    min-height: 20vh;
    margin: 0 auto;
    position: relative;
}

.fixed_btn {
	text-decoration: none;
	color:#626063;
	position: absolute;
    bottom: 1rem;
    right: 1.5rem;
}

.fixed_btn :hover{
	font-weight: bold;
}