@charset "utf-8";

html,body
ul, ol, li,
h1, h2, h3, h4, h5, h6, div {
  margin: 0;
  padding: 0;
}

body{
    font-family:'Javanese Text','Mongolian Baiti','Palatino Linotype';
    min-height: 100vh;
}

li{
    list-style: none;
}

/*------------------------------*/
.wrapper{
    background-color:white;
    color:#626063;

}

.container{
    display: flex;
    justify-content: center;
    flex: 1;
    margin-top: 2rem;
    background-color: white;
}


/*left*/
.left{
    background-color:#f8f4e6;
    border-radius: 15px;
    padding: 2rem;
    max-width: 800px;
    width: 800px;
    min-height: 90vh;
    margin: 0 1rem 0 0;
    position: relative;
}

.frame{
    background-color: white;
    min-height: 60vh;
    padding: 2rem;
    margin-bottom: 3rem;
    position: relative;
}

.second{
    margin-top: 3rem;;
}

.private_post{
    color:#f6ad49;
}

.stayAtLikeBtn{
    position: absolute;
    bottom: 3rem;
    right: 3rem;
}

.opt{
    display: flex;
    justify-content: center;
    max-height: 3rem;
    margin-bottom: 3rem;
}

.like_btn{
    display: flex;
    justify-content: center;
    align-content: baseline;
}

.like_btn a{
    margin: 0;
}

.likes{
    display: inline;
}

.likes :hover{
    color: #f2a88a;
}




.form_title{
    padding: 1rem;
}

.comment_box{
    border-bottom: solid #f8f4e6; 5px;
    padding: 0 1rem;
    margin: 3px 0;
}

.flex{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.comment_box dt{
    font-weight: bold;
    margin: 0;
}

.comment_box dd{
    font-size: small;
    margin: 0;
}



.link_aa{
    text-decoration: none;
    display:inlin-block;
    color:#626063;
    margin: 0 2rem;
}

.link_aa:hover{
    color: #f2a88a;
}

.fixed_btn {
    text-decoration: none;
    background: rgba(255,233,169,0.4);
    padding: 0.5rem;
    border-radius: 15px;
    color:#626063;
    position: fixed;
    bottom: 1rem;
    right: 1.5rem;
}

.fixed_btn :hover{
	font-weight: bold;
}

/*----------------------------*/

/*right*/
.right{
    background-color: #f8f4e6;
    width: 20%;
    min-width: 200px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.menu{
    text-align: center;
}

.menu ul li{
padding: 0.5rem 1rem;
}

.list{
    position: relative;
}

.list ul{
    
    position: absolute;
    display: none;
    box-shadow: 0 0 8px gray;
    border-radius: 15px;
}

.list:hover ul{
    background-color: #f8f4e6;
    display:block;
    position: absolute;
    z-index: 10;
}

.blog_box .small{
    font-size: small;
}

.opt{
    display: flex;
    justify-content: center;
}



/*検索窓*/
.sample2Text {

	width            : 150px;            /* inputの幅           */
	background-image : url(./img/mg.png);
    font-weight: 900;/* 背景画像：虫眼鏡(*1)*/
	background-repeat  : no-repeat;        /* 背景は繰り返さない  */
	background-position: 8px center;       /* 背景の位置          */
	background-size    : auto 60%;         /* 背景のサイズ        */
	background-color   : #fff;             /* 背景色              */
	margin             : 0 auto;           /* サンプルは中央寄せ  */
	padding-left       : 30px;             /* 虫眼鏡分の左余白    */
	border             : 2px solid #666;   /* 枠線　幅,実践,色    */
	border-radius      : 50px;              /* 角丸                */
	color              : #555;             /* 文字色              */
	font-size          : 14px;             /* フォントサイズ      */
	letter-spacing     : 0.1em;            /* 文字間隔            */
	font-weight        : normal;             /* 太字                */
	outline            : 0;                 /* 入力薄枠を非表示    */
	padding:6px 35px;

}

   /* === テキスト入力欄にフォーカスか来たとき  ================== */
  .sample2Text:focus {
	background-color     : white;        /* フォーカス時背景色  */
	border-color: #f2a88a;
  }

   /* === IEの入力エリア右側×消し ============================== */
  .sample2Text::-ms-clear {
	display        : none;                 /* ×を消す            */
  }

/*---------------------------------*/
/*footer*/
  .side_footer{
      background-color: white;
    margin-top: auto;
    margin-bottom: 3rem;
    padding-top: 100px;
}
/*上でフッターが下に引っ張られる。*/

/*left
.left{
    background-color: #f8f4e6;
    border-radius: 15px;
    padding: 2rem;
    min-height:90vh;
    max-width: 800px;
    margin: 0 1rem 0 0;
    position: relative;
}*/

.title{
    margin-top: 1rem;
}

.flex p{
    padding-right: 1rem;
}

.blogs{
    background-color: white;
    margin: 0;
    min-height: 30vh;
    padding: 1rem;
}

.blog_box{
    border-bottom: solid #f8f4e6; 5px;
    padding: 5px;
    margin: 3px 0;
}

.flex{
    display: flex;
    flex-direction: row;
}

span{
    font-size: 15px;
    }


/*レスポンシブ PC firtst*/
/*tablet*/
@media(max-width: 896px){
    img{width:120px; 
        height:200px;}

    .left{
        background-color: #f8f4e6;
        border-radius: 15px;
        padding: 2rem;
        min-height:90vh;
        width: 60%;
        max-width: 600px;
        margin: 0 1rem 0 0;
        position: relative;
    }

    .right{
        background-color: #f8f4e6;
        width: 20%;
        max-width: 200px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
    }
    
    .sample2Text {

        width            : 100px;            /* inputの幅           */
        background-image : url(./img/mg.png);
        font-weight: 900;/* 背景画像：虫眼鏡(*1)*/
        background-repeat  : no-repeat;        /* 背景は繰り返さない  */
        background-position: 8px center;       /* 背景の位置          */
        background-size    : auto 60%;         /* 背景のサイズ        */
        background-color   : #fff;             /* 背景色              */
        margin             : 0 auto;           /* サンプルは中央寄せ  */
        padding-left       : 30px;             /* 虫眼鏡分の左余白    */
        border             : 2px solid #666;   /* 枠線　幅,実践,色    */
        border-radius      : 50px;              /* 角丸                */
        color              : #555;             /* 文字色              */
        font-size          : 14px;             /* フォントサイズ      */
        letter-spacing     : 0.1em;            /* 文字間隔            */
        font-weight        : normal;             /* 太字                */
        outline            : 0;                 /* 入力薄枠を非表示    */
        padding:6px 35px;

    }

    .icon_box{
        flex-direction: column;
        align-content: stretch;
    }
    .icon_box a{
        
        display: block;
    }

    .opt{
        flex-direction: column;
        align-content: stretch;
    }

    .opt a{
        display: block;
    }
}

/*検索窓の調整*/
@media(max-width: 1170px){
    .sample2Text {

        width            : 100px;            /* inputの幅           */
        background-image : url(./img/mg.png);
        font-weight: 900;/* 背景画像：虫眼鏡(*1)*/
        background-repeat  : no-repeat;        /* 背景は繰り返さない  */
        background-position: 8px center;       /* 背景の位置          */
        background-size    : auto 60%;         /* 背景のサイズ        */
        background-color   : #fff;             /* 背景色              */
        margin             : 0 auto;           /* サンプルは中央寄せ  */
        padding-left       : 30px;             /* 虫眼鏡分の左余白    */
        border             : 2px solid #666;   /* 枠線　幅,実践,色    */
        border-radius      : 50px;              /* 角丸                */
        color              : #555;             /* 文字色              */
        font-size          : 14px;             /* フォントサイズ      */
        letter-spacing     : 0.1em;            /* 文字間隔            */
        font-weight        : normal;             /* 太字                */
        outline            : 0;                 /* 入力薄枠を非表示    */
        padding:6px 35px;

    }
}

/*ハンバーガーメニューのタイミングに合わせてサイドメニューをメイン部分の下へ移動する*/
@media(max-width: 643px){
    .container{
        flex-direction: column;
        justify-content: center;
        flex: 1;
        margin-top: 2rem;
        background-color: white;
    }

    .left{
        background-color:#f8f4e6;
        border-radius: 15px;
        padding: 2rem;
        max-width: 250px;
        width: 250px;
        min-height: 90vh;
        margin: 0 1rem 0 0;
        position: relative;
    }
    

    .right{
        margin-top: 2rem;
        margin: 2rem aouto;
        background-color: #f8f4e6;
        width: 275px;
        min-width: 275px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
    }

    .flex{
        flex-direction: column;
          
    }

}

/*mobile*/
@media(max-width: 480px){

    .flex{
        flex-direction: column;
          
    }
     h2{
         font-size: 20px;
     }

     .sample2Text {
        width            : 90px;            /* inputの幅           */
        background-image : url(./img/mg.png);
        font-weight: 900;/* 背景画像：虫眼鏡(*1)*/
        background-repeat  : no-repeat;        /* 背景は繰り返さない  */
        background-position: 8px center;       /* 背景の位置          */
        background-size    : auto 60%;         /* 背景のサイズ        */
        background-color   : #fff;             /* 背景色              */
        margin             : 0 auto;           /* サンプルは中央寄せ  */
        padding-left       : 30px;             /* 虫眼鏡分の左余白    */
        border             : 2px solid #666;   /* 枠線　幅,実践,色    */
        border-radius      : 50px;              /* 角丸                */
        color              : #555;             /* 文字色              */
        font-size          : 14px;             /* フォントサイズ      */
        letter-spacing     : 0.1em;            /* 文字間隔            */
        font-weight        : normal;             /* 太字                */
        outline            : 0;                 /* 入力薄枠を非表示    */
        padding:6px 35px;

    }
}


