@charset "utf-8";

html,body
ul, ol, li,
h1, h2, h3, h4, h5, h6, div {
  margin: 0;
  padding: 0;
}

body{
    font-family:'Javanese Text','Mongolian Baiti','Palatino Linotype';
    min-height: 100vh;
}

li{
    list-style: none;
}

/*------------------------------*/

.wrapper{
    height:80vh;
    background-color: white;
    color:#626063;
}

.container{
    margin-top: 2rem;
}

.typein{
    background-color:#f8f4e6;
    border-radius: 15px;
    padding: 3rem 1rem;
    width: 800px;
    min-height: 30vh;
    margin: 0 auto;
    position: relative;
}

.form_title{
    padding: 1rem;
}

.private_post{
    color:#f6ad49;
}

.notfound{
    padding-left: 2rem;
}

.result_box{
    border-bottom: solid #f8f4e6; 5px;
    padding: 0 1rem;
    margin: 3px 0;
}

.link_aa{
    text-decoration: none;
    display:inlin-block;
    color:#626063;
}

.link_aa:hover{
    color: #f2a88a;
}

.frame{
    background-color: white;
    min-height: 10rem;
}

.horizontal{
    display: inline-block;
}

.btn{
    margin-top: 20px;
    margin-bottom: 20px;;
    width: 120px;
    line-height: 1.428571429;
    border-radius: 50px;
    padding: 8px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #49484d;
    background-color:#bbe2f1;
  }

.red{
    background-color: #f2a88a;
}

.btn:hover{
    cursor:pointer;
}

.fixed_btn {
    text-decoration: none;
    background: rgba(255,233,169,0.4);
    padding: 0.5rem;
    border-radius: 15px;
    color:#626063;
    position: fixed;
    bottom: 1rem;
    right: 1.5rem;
}

.fixed_btn :hover{
	font-weight: bold;
}

/*レスポンシブ PC firtst*/
/*tablet*/
@media(max-width: 896px){
    .typein{
        background-color:#f8f4e6;
        border-radius: 15px;
        padding: 3rem 1rem;
        width: 250px;
        min-height: 30vh;
        margin: 0 auto;
        position: relative;
    }
}

/*mobile*/
@media(max-width: 480px){
    h2{
        font-size: 20px;
    }

    .typein{
        background-color:#f8f4e6;
        border-radius: 15px;
        padding: 3rem 1rem;
        width: 150px;
        min-height: 30vh;
        margin: 0 auto;
        position: relative;
    }
    }









